<template>
	<div class="plan-item">
		<mu-list-item :disabled="true" :title="plan.name" :describeText="plan.level">
			Price: {{ plan.price }}, Length: {{ plan.length }}, Renew: {{ plan.renew }}
			Tags: {{ tags }}
			<mu-chip slot="rightAvatar" @click="emitPurchased" >
				<mu-avatar icon="add_shopping_cart"></mu-avatar>
				buy
			</mu-chip>			
		</mu-list-item>
	</div>
</template>

<script>
export default {
	name: 'plan-item',
	data () {
		return {
		}
	},
	methods: {
		emitPurchased: function () {
			console.log(this.plan)
			this.$emit('purchased', this.plan.name)
		}
	},
	computed: {
		tags: function () {
			if (this.plan.tags == null) {
				return ''
			}
			let tags = ''
			this.plan.tags.forEach(function (elem) {
				tags += elem + ', '
			})
			tags = tags.slice(0, -2)
			return tags
		}
	},
	props: {
		plan: {
			name: {
				type: String
			},
			level: {
				type: String
			},
			price: {
				type: Number
			},
			length: {
				type: Number
			},
			renew: {
				type: Boolean
			},
			tags: {
				type: Array,
			},
		}
	},
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
	font-weight: normal;
}

ul {
	list-style-type: none;
	padding: 0;
}

li {
	display: inline-block;
	margin: 0 10px;
}

a {
	color: #42b983;
}

.plan-item {
	text-align: left;
}
.mu-chip {
	margin-right: 20vmin;
}

</style>

<style>

</style>