<template>
	<div class="sub-item">
		<mu-list-item :disabled="true" :title="sub.planName" :describeText="sub.level">
			Price: {{ sub.price }}, Until: {{ formattedEnd }}, Renew: {{ sub.renew }}
			<mu-chip slot="rightAvatar" @click="emitUsed" :disabled="!active" >
				<mu-avatar :icon="icon"></mu-avatar>
				{{ text }}
			</mu-chip>			
		</mu-list-item>
	</div>
</template>

<script>
import {HTTP} from '@/http-conf'
import {contentType} from '@/http-conf'
import {mergePatch} from '@/http-conf'
import {setWhen} from '@/http-conf'
import {calculateHash} from '@/http-conf'
export default {
	name: 'sub-item',
	data () {
		return {
			now: new Date(),
			nowInterval: null,
		}
	},
	computed: {
		formattedEnd: function () {
			if (this.sub.start === this.sub.end) {
				return 'forever'
			}
			let formatted = ''
			let date = new Date(this.sub.end*1000)
			console.log('until:', date)
			formatted = date.getUTCDate() + '/' + (date.getUTCMonth() + 1) + '/' + date.getUTCFullYear()
			return formatted
		},
		active: function () {
			if (this.sub.start === this.sub.end) {
				//lenght of 0 -> infinite duration
				return true
			}
			let now = this.now
			let start = new Date(this.sub.start*1000)
			let end = new Date(this.sub.end*1000)
			if ((now < start) || (now > end)) {
				return false
			}
			console.log('active is true')
			return true
		},
		text: function () {
			if (!this.active) {
				return 'inactive'
			}
			return 'simulate usage'
		},
		icon: function () {
			if (!this.active) {
				return 'lock'
			}
			return 'mouse'
		}
	},
	methods: {
		updateNow: function () {
			this.now = new Date()
		},
		emitUsed: function () {
			console.log(this.sub)
			this.$emit('used', this.sub.subID)
		}
	},
	mounted () {
		//check activity every 5 seconds
		this.nowInterval = window.setInterval(this.updateNow, 5000)
	},
	props: {
		sub: {
			planName: {
				type: String
			},
			level: {
				type: String
			},
			price: {
				type: Number
			},
			renew: {
				type: Boolean
			},
			subID: {
				type: Number
			},
		}
	},
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
	font-weight: normal;
}

ul {
	list-style-type: none;
	padding: 0;
}

li {
	display: inline-block;
	margin: 0 10px;
}

a {
	color: #42b983;
}

.sub-item {
	text-align: left;
}
.mu-chip {
	margin-right: 20vmin;
}

</style>

<style>

</style>