<template>
	<div id="app">
		<mu-appbar :title="title">
			<mu-flat-button slot="right" @click="handleLogout">Logout</mu-flat-button>
			<label id="theme-label" for="themeMenu" slot="right">Theme</label>
			<theme-icon-menu id="themeMenu" slot="right"></theme-icon-menu>
		</mu-appbar>
		<template v-if="!loggedIn">
			<login-page @loggedIn="handleLoggedIn"></login-page>
		</template>
		<template v-else>
			<mu-dialog :open="dialog" title="Buy a subscription" @close="closeDialog">
				{{ dialogText }}
				<template v-for="(plan, index) in plans">
					<plan-item :plan="plan" :key="plan.name" @purchased="handlePurchased" ></plan-item>
				</template>
			</mu-dialog>
			<template v-for="(user, index) in users">
				<user-card :key="user.username" :user="user" @retired="handleRetired" @openDialog="openDialog"></user-card>
			</template>
		</template>
	</div>
</template>

<script>
import {HTTP} from '@/http-conf'
import {contentType} from '@/http-conf'
import {mergePatch} from '@/http-conf'
import {setWhen} from '@/http-conf'
import {calculateHash} from '@/http-conf'
import {saveConf} from '@/http-conf'
import {globalStore} from '@/globalStore'
import ThemeIconMenu from '@/components/ThemeIconMenu'
import UserCard from '@/components/UserCard'
import PlanItem from '@/components/PlanItem'
import LoginPage from '@/components/LoginPage'
export default {
	name: 'app',
	components: {
		ThemeIconMenu,
		UserCard,
		PlanItem,
		LoginPage,
	},
	data () {
		return {
			loggedIn: false,
			rawUsers: [],
			plans: [],
			dialog: false,
			username: '',
			newSub: {},
		}
	},
	computed: {
		dialogText: function () {
			return 'Hello ' + this.username + ' ! ' + 'You can buy subscriptions here.'
		},
		title: function () {
			console.log('app seeing title:', globalStore.title)
			return globalStore.title
		},
		users: function () {
			let users = []
			this.rawUsers.forEach(function(elem) {	
				if (elem.retired == true) {
					return
				}
				users.push(elem)
			})
			return users
		},
		normalConfig: function () {
			const headers = {}
			return {
				headers
			}
		},
		patchConfig: function () {
			const headers = {}
			headers[contentType] = mergePatch
			return {
				headers
			}
		},
	},
	methods: {
		handleLogout: function () {
			this.loggedIn = false
		},
		handleLoggedIn: function () {
			this.loggedIn = true
			console.log(this.loggedIn)
			this.retrieveUsers()
			this.retrievePlans()
		},
		handlePurchased: function (planName) {
			//set a trigger in the specified user object, so that the user-card can send a post request and update its list
			console.log('purchasing:',planName)
			let user = this.getUserByName(this.username)
			this.$set(user, 'newSub', planName)
		},
		openDialog: function (username) {
			this.username = username
			this.dialog = true
		},
		closeDialog: function () {
			this.dialog = false
		},
		getUserByName: function (username) {
			let user = {}
			this.users.some(function(element, index, array) {
				if (element.username === username) {
					user = element
					return true
				}
				return false
			})
			return user
		},
		handleRetired: function (username) {
			let resource = '/user/' + username
			let original = this.getUserByName(username)
			let changed = {}
			// changed = Object.assign(changed, original)
			changed.retired = true
			let when = setWhen(this.patchConfig)
			this.patchConfig.headers['Authorization'] = calculateHash(changed, when)
			HTTP.patch(resource, changed, this.patchConfig)
			.then(
				response => {
					console.log('patch user response', response)
					original.retired = true
				},
				notOK => {
					console.log(notOK)
					if (notOK.response.status == 404) {
						this.$emit('notFound')	
					} else {
						this.$emit('errorCode', [notOK.response.data])
					}
				}
			)
		},
		changeTitle: function (msg) {
			this.title = msg
		},
		retrieveUsers: function () {
			let resource = '/users'
			let when = setWhen(this.normalConfig)
			this.normalConfig.headers['Authorization'] = calculateHash('', when)
			HTTP.get(resource, this.normalConfig)
			.then(
				response => {
					console.log('get users response', response)
					this.rawUsers = response.data
				},
				notOK => {
					console.log(notOK)
					if (notOK.response.status == 404) {
						this.$emit('notFound')	
					} else {
						this.$emit('errorCode', [notOK.response.data])
					}
				}
			)
		},
		retrievePlans: function () {
			let resource = '/plans'
			let when = setWhen(this.normalConfig)
			this.normalConfig.headers['Authorization'] = calculateHash('', when)
			HTTP.get(resource, this.normalConfig)
			.then(
				response => {
					console.log('get plans response', response)
					this.plans = response.data
				},
				notOK => {
					console.log(notOK)
					if (notOK.response.status == 404) {
						this.$emit('notFound')	
					} else {
						this.$emit('errorCode', [notOK.response.data])
					}
				}
			)
		},
	},
	mounted () {
		// localStorage.clear()
		//load persistent settings
		if (localStorage.length > 0) {
			console.log('storage')
			let loaded = false
			if (localStorage.serverAddress != null) {
				globalStore.serverAddress = JSON.parse(localStorage.getItem('serverAddress'))
				console.log('loaded serverAddress from localStorage')
				loaded = true
			}
			if (localStorage.appName != null) {
				globalStore.appName = JSON.parse(localStorage.getItem('appName'))
				console.log('loaded appName from localStorage')
				loaded = true
			}
			if (loaded) {
				saveConf(globalStore.serverAddress, globalStore.appName)
				console.log('set httpConf according to the loaded settings')
			}
			if (localStorage.auth != null) {
				globalStore.auth = JSON.parse(localStorage.getItem('auth'))
				console.log('loaded auth hash from localStorage')
				//set the default secret to empty string
				globalStore.defaultSecret = ''
			}
		}
		if (globalStore.auth != '') {
			this.loggedIn = true
			//get an array of users from server
			this.retrieveUsers()
			this.retrievePlans()
		}
	},

}
</script>


<style>
#app {
	font-family: 'Avenir', Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-align: center;
	color: #2c3e50;
	margin-top: 0px;
}

div.user-card {
	margin: 0.2%;
	height: 47vmin;
	width: 47vmin;
	/*width: 48.4vmin;*/
	display: inline-grid;
}

.mu-appbar {
	margin-bottom: 0.4%;
}

#theme-label {
	padding-left: 6%;
}

</style>
